.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-start 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
    
    & > * {
        
    }
}

.sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.features {
    grid-column: center-start / center-end;
}

.gallery {
    grid-column: full-start / full-end;
}

.footer {
    grid-column: full-start / full-end;
}

.container {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    
    // auto - wraps content, 1fr - fills parent
    grid-template-columns: auto 1fr auto 1fr;
    
    
    // repeat:
    grid-template-columns: repeat(4, 1fr 2fr);
}

.item.item${$}*30

.item.item${$}*30

.container {
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.item9 {
    grid-column: span 10;
    grid-row: span 2;
}

.bad-item {
    grid-column: span 2;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-column: 1 / span 2;
    grid-column: 1 / -1;
    
    grid-row: 3 / span 3;
}

.container {
    grid-template-columns: repeat(5, 1fr 2fr);
    
    grid-template-rows: repeat(10, 50px);
}

.item1 {
    grid-column: 3 / 5;
}

.item2 {
    grid-column: 5 / -1;
}

.item5 {
    grid-column: span 2;
    grid-row: span 2;
}

.item8 {
    grid-row: span 2;
}

.item15 {
    grid-column: 1 / -1;
}

.item18 {
    grid-column: span 4 / 9;
}

.item20 {
    grid-row: 4 / span 3;
}



