@import "base";
@import "typography";

@import "sidebar";
@import "header";
@import "sellers";
@import "features";
@import "story";
@import "homes";
@import "gallery";
@import "footer";  // main.scss

_base.scss /////////////
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

//Font variables:
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  // 10px/16px = 62.5% -> 1rem - 10px
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}













